@charset "utf-8";
@viewport { width: device-width; }
@at-root { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@-webkit-viewport { width: device-width; }

*, *:before, *:after {
  box-sizing: border-box;
  outline: 0 !important;
  border-collapse: separate;
  border-spacing: 0;
  font-stretch: normal;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  outline: none;
  text-rendering: optimizeLegibility;
  width: 100%;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Montserrat", "Helvetia Neue", "Noto Sans", "Ubuntu", sans-serif;
  color: #303330;
  background: #fff;
  padding: 1rem;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-top: 100px;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

p { margin-top: 0; }

h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}
strong { font-weight: 600; }

img {
  border: 0;
  max-width: 100%;
  height: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@media (max-width: 767px) {
  body {
    padding: 18px;
  }
  input {
    max-width: 100%;
  }
  x:-moz-any-link {
    display: table-cell;
  }
}
@media (min-width: 550px) {
  h1 {
    font-size: 4.0rem;
  }
}

footer {
  padding-top: 32px;
  flex-shrink: 0;
  text-align: center;
}

header {
  background-color: #f0450b;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header a {
  align-self: flex-end;
  color: #F1E3FC;
}
header a {
  -webkit-transition: color .3s;
  transition: color .3s;
}
header a:link, a:visited {
  color: #ffffff;
}
header a:hover {
  color: #c1c1c1;
}
header a:active {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #c1c1c1;
}
.content a {
  color: black;
}
input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input[type="file"] + label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  transition: all .3s;
}

input[type="file"]:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

input[type="file"] + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

button[type="submit"],
input[type="file"] + label {
  color: #F1E3FC;
  background-color: #f0450b;
}

button[type="submit"],
input[type="file"]:focus + label,
input[type="file"] + label:hover {
  background-color: #F1E3FC;
  color: #f0450b;
}

.upload-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.upload-form input {
  margin: 0 0 0 8px;
}

.upload-form button[type="submit"] {
  margin-top: 8px;
  color: #F1E3FC;
  background-color: #f0450b;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
}

.upload-form button[type="submit"]:hover {
  background-color: #F1E3FC;
  color: #f0450b;
}

.logo-link {
  margin-top: auto;
  margin-bottom: auto;
}

.upload-form input, .upload-form textarea {
  border: 2px solid #333;
  font-size: 1.2em;
  padding: 0.25em 0.5em 0.3125em;
  color: #111;
  border-radius: 0.25em;
  background: transparent;
  transition: all ease-in-out .3s;
}
.upload-form input:focus, .upload-form textarea:focus {
  outline: none;
  color: #222;
  border-color: #ccc;
}

.upload-form input[type="text"],
.upload-form textarea {
  font-family: "Montserrat", "Helvetia Neue", "Noto Sans", "Ubuntu", sans-serif;
}

.upload-form textarea::placeholder,
.upload-form ::-webkit-input-placeholder,
.upload-form ::-webkit-textarea-placeholder {
  color: #444;
  text-shadow: 0 0 0.125em transparent;
  transition: all .3s;
  font-family: "Montserrat", "Helvetia Neue", "Noto Sans", "Ubuntu", sans-serif;
}

.upload-form input:focus::-webkit-input-placeholder,
.upload-form input:focus::-webkit-textarea-placeholder {
  opacity: 0.5;
}

.upload-form ::-moz-placeholder {
  color: #333;
  text-shadow: 0 0 0.125em transparent;
  transition: all .3s;
}

.upload-form input:focus::-moz-placeholder,
.upload-form textarea:focus::-moz-placeholder {
  opacity: 0.5;
}

.upload-form :-ms-input-placeholder,
.upload-form :-ms-textarea-placeholder {
  color: #333;
  text-shadow: 0 0 0.125em transparent;
  transition: all .3s;
}

.upload-form input:focus:-ms-input-placeholder,
.upload-form textarea:focus:-ms-textarea-placeholder {
  opacity: 0.5;
}

.upload-form input, .upload-form textarea {
  box-sizing: border-box;
  width: 300px;
}

.upload-form textarea {
  margin-left: 8px;
}

.upload-form label {
  margin-top: 8px;
}

.player-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#player {
  margin-bottom: 32px;
  width: 100vw;
  min-width: 100px;
  max-width: 300px;
  height: 100px;
}

#file-picker, input[type="file"], .submit-row {
  align-self: flex-end;
}

#file-picker {
  white-space: normal;
  max-width: 250px;
}

.copy-link {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.about-content {
  text-align: left;
  max-width: 500px;
}
